@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main_menu {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu_link {
  border: 0;
  background-color: white;
  color: blue;
}

.menu_link:hover {
  text-decoration: none;
  font-weight: 700;
}

.header__description {
  font-size: 12px;
}

.jumbo {
  background-image: url("./images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 20px; */
  color: whitesmoke;
  padding-left: 55px;
}

.jumbo__title {
  font-size: 55px;
}

.jumbo__text {
  font-size: 20px;
}

.searchBar__search {
  padding-left: 25px;
  padding-right: 25px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.footer {
  width: 100%;
  background-color: darkblue;
  color: whitesmoke;
  height: 200px;
  bottom: 0;
  margin-top: 50px;
  padding: 30px;
}

.footer__link {
  text-decoration: none;
  color: whitesmoke;
}

.footer__link:hover {
  text-decoration: none;
  color: white;
}

.links {
  margin-left: 20px;
}

.movieCard {
  width: 320px;
  min-width: 320px;
  margin: 20px;
}

.home_content {
  margin-top: 20px;
}

.home_img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.home_text {
  text-align: justify;
}

.google_login {
  margin-top: 20px;
  text-align: center;
}
